.main-screen
  height: 100vh
  width: 100vw
  background: url("../../assets/images/main-screen-background.jpg") no-repeat
  background-size: cover
  display: flex
  justify-content: center
  align-items: center
  position: relative
  overflow: hidden

  &-background-image
    &-first
      height: 400px
      width: 400px
      background: url("../../assets/images/background-shuttle-1.png") center center no-repeat
      background-size: cover
      position: absolute
      left: -180px

    &-second
      height: 491px
      width: 491px
      background: url("../../assets/images/background-shuttle-1.png") center center no-repeat
      background-size: cover
      position: absolute
      top: -170px
      right: -240px
      transform: rotate(90deg)

    &-third
      height: 80%
      width: 700px
      right: 130px
      top: auto
      bottom: auto
      background: url("../../assets/images/background-shuttle-2.png") no-repeat
      background-size: contain
      position: absolute
      z-index: 0

  &-wrapper
    width: auto
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    z-index: 1

    &-text
      font-family: Graphik LCG, sans-serif
      font-style: normal
      font-weight: 600
      font-size: 120px
      color: white
      text-transform: uppercase
      margin-bottom: 26px

@media (max-width: 768px)
  .main-screen
    background-position-x: 70%
    &-background-image
      &-first
        height: 181px
        width: 181px
        top: -100px
        left: -60px

      &-second
        height: 300px
        width: 300px
        top: unset
        bottom: -100px
        right: -120px

      &-third
        height: 415px
        width: 90%
        right: auto
        left: auto

    &-wrapper
      &-text
        font-size: 40px



