.main-screen
  height: 100vh
  width: 100vw
  background: url("../../assets/images/main-screen-background.jpg") no-repeat
  background-size: cover
  display: flex
  justify-content: center
  align-items: center

  &-background-image
    &-first
      height: 491px
      width: 491px
      background: url("../../assets/images/background-shuttle-1.png") center center no-repeat
      background-size: cover
      position: absolute
      left: -180px

    &-second
      height: 491px
      width: 491px
      background: url("../../assets/images/background-shuttle-1.png") center center no-repeat
      background-size: cover
      position: absolute
      top: -170px
      right: -240px
      transform: rotate(90deg)

    &-third
      height: 936px
      width: 864px
      right: 130px
      background: url("../../assets/images/background-shuttle-2.png") center center no-repeat
      background-size: cover
      position: absolute
      z-index: 0

  &-wrapper
    width: auto
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    z-index: 1

    &-text
      font-family: Graphik LCG, sans-serif
      font-style: normal
      font-weight: 600
      font-size: 120px
      color: white
      text-transform: uppercase
      margin-bottom: 26px

@media (max-width: 768px)
  .main-screen
    &-wrapper
      &-text
        font-size: 40px



